#wsp{
    font-weight: bold;
    color:rgb(52, 116, 94);
    text-decoration: none;
    display: flex;
    width: 246px;
    height: 35px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(164, 240, 157, 0.86);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
}

#wsp:hover{
    color:rgb(37, 95, 75);
    background: rgba(121, 177, 116, 0.86);
}

.buttons{
    font-weight: bold;
    color:rgb(52, 93, 116);
    text-decoration: none;
    display: flex;
    width: 127px;
    height: 35px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #80C2FF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
.buttons:hover{
    color:rgb(27, 54, 77);
    background: #5d91c2;
}
#logo{
    width: 130px;
    height: 133px;
    flex-shrink: 0;
    background: url(<path-to-image>), rgba(211, 211, 211, 0) 50% / cover no-repeat;
    margin-left: 15px;
}
h1{
    color: #29212B;
    text-shadow: 10px 8px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 0%; /* 0px */
    letter-spacing: 5.3px;
    margin-left: -90px;
}
body{
    background: linear-gradient(180deg, rgba(0, 56, 255, 0.22) 75.52%, rgba(77, 71, 108, 0.22) 100%);    
}
#fondo{
    margin: 0px;
}

body{
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#div1{
    
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-right: 50px;
}

#medio{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    
}
#primero{
margin-top: 60px;
}
#tercero{
    margin-top: 60px;
}
#segundo{
    margin-top: 20px;
}
#btnatras{
    position: relative;
    right: -20px;
    top: 230px;
    background-color: #91b4ca69;

}
#btnadelante{
    position: relative;
    left: -20px;
    top: 230px;
    background-color: #91b4ca69;
}
#btnadelante:hover {
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.205);
}
#btnatras:hover {
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.205);
}
#subtitulo{
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding: 0px;
    color: rgba(0, 0, 0, 0.43);
    font-family: Merriweather;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.fotos{
    width: 210px;
    height: 260px;
    border-radius: 10px;
}
#fotoss{
    width: 280px;
    height: 350px;
    border-radius: 10px;
}
#perfil{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.22));
}
#perfil:hover{
    fill: rgba(88, 128, 165, 0.705);
}
#atras{
    rotate: 90deg;
    padding-left: 40px;
}
#adelante{
    rotate: -90deg;
    padding-right: 40px;
}
#logosfot{
    display: flex;
    justify-content: right;
    margin-right: 30px;
    
}
#iglogo:hover{
    fill: rgb(116, 28, 138);

    
}
#iglogo{
    margin-right: 20px;
    margin-left: 1520px;
}
#condiciones{
    display: inline-flex;
    padding: 12px;

    gap: 10px;
    color: #000;
    font-family: Merriweather;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

}
#izquierda{
    display: flex; 
    justify-content: left;
    align-items: center;
    width: 785px;
    
}

#mail{
    margin-right: 20px;
}
#mail:hover{
    fill:#304563 ;
}
#twitter:hover{
    fill: #42618f;
}
footer{
    margin-top: auto;
    
}
#imagenfondo{
    size: adjust;
    position: absolute;
    height: 900;
    z-index:-5;

}

/*dad*/

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(171,102,255,1) 0%, rgba(116,182,247,1) 90% );
    overflow: hidden;
}
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-slide {
    width: 300px;
    height: 400px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    filter: blur(1px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: self-start;
}
.swiper-slide-active {
    filter: blur(0px);
}
.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
    background: #fff;
}
.swiper-slide span {
    text-transform: uppercase;
    color: #fff;
    background: #1b7402;
    padding: 7px 18px 7px 25px;
    display: inline-block;
    border-radius: 0 20px 20px 0px;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-family: "Open Sans", sans-serif;
}
.swiper-slide--one span {
    background: #62667f;
}
.swiper-slide--two span {
    background: #087ac4;
}
.swiper-slide--three span {
    background: #b45205;
}

.swiper-slide--four span {
    background: #087ac4;
}

.swiper-slide h2 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.4;
    margin-bottom: 15px;
    padding: 25px 45px 0 25px;
}

.swiper-slide p {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    display: flex;
    align-items: center;
    padding: 0 25px 35px 25px;
}

.swiper-slide svg {
    color: #fff;
    width: 22px;
    height: 22px;
    margin-right: 7px;
}
.swiper-slide--one {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
url()
        no-repeat 50% 50% / cover;
}
.swiper-slide--two {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
url("")
        no-repeat 50% 50% / cover;
}

.swiper-slide--three {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
url("")
        no-repeat 50% 50% / cover;
}

.swiper-slide--four {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
url("")
        no-repeat 50% 50% / cover;
}

.swiper-slide--five {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
url("https://images.unsplash.com/photo-1596521864207-13d46b1a0c78?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80")
        no-repeat 50% 50% / cover;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
    background-image: none;
}